body { 
	background: #558866; 
	font-family: Verdana, sans-serif; 
	padding: 0; margin: 0;
	text-align: center;
}
body > * {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
a, a:visited {
	color: #99bbff;
}
body > header { 
	font-size: 150%;
	padding: 0.5em 1em; 
}
#cnvs {
    border: solid 1px #666;
    margin: 0 1em;
}
.sidebar {
	max-width: 20em;
    float: right;
    padding: 1em;
}
.ageEon {
	display: inline-block;
	margin: 0 0 1em 0;
	font-size: 120%;
}
body > footer {
	margin-top: 3em;
	padding: 3em 0;
	text-align: center;
}
#seed {
	width: 4em;
}